language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install tox-travis
  - pip install -e .
# command to run tests
script: tox
before_install:
  - pip install codecov
after_success:
  - codecov
